/node_modules
/public/hot
/public/mix-manifest.json
/vendor
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.php-cs-fixer.cache
composer.lock
composer.lock.json
package-lock.json
.env
.env-example.env
