#ImagePreview {
  height: 250px;

}

#photo2 {
  height: 200px;
  width: 200px;
  /* border:2px solid #000; */
  position: relative;
  left: 220px;
  top: -110px;
}

.InputFile {
  background: #fff;
  border: 1px solid #e9ecef;
  width: 100%;
  border-radius: 0.375rem;
  opacity: 0;
  position: absolute;

}

.edu-detail,
.edu-detail p {
  font-size: 14px;
}

.video {
  display: block;
}

/* .video-div{
    width: 100%;
    height: 250px;
  } */

.profile-image-circle {
  width: 200px;
  height: 200px;
  background: #f3f3f3;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center
}

.profile-image-circle .Profile-img {
  max-width: 200px !important;
  border: 0;
  outline: 0;
  border-radius: 150px;
  object-fit: cover;

}

.upload-profile-icon {
  position: absolute;
  right: 4px;
  bottom: 9px;
}

.course-name {
  position: relative;
}

.header-nav {
  height: 80px !important;
  background-color: #ffffff;
}

.homeFourCourses {
  padding: 40px 0 40px;
  background-color: #e9effa;
}

.app-image {
  width: 335px;
  max-width: 100%;
  position: absolute;
  top: -113px;
}

.app-section {
  background-color: #e9effa;
  border-radius: 20px;
  padding: 40px;
  height: 250px;
  display: grid;
}

.learn {
  border-radius: 50px;
  background-color: #2766cf;
  border: 1px solid #2766cf;
  padding: 10px 39px;
}

.learn:hover {
  border-radius: 50px;
  background-color: #2766cfe3;
  border: 1px solid #2766cfe3;
}

.buynow {
  color: #2766cf;
  border-radius: 50px;
  background-color: #cee0ff;
  border: 1px solid #cee0ff;
  padding: 10px 23px;
  font-size: 10px;
  width: 100px;
  font-weight: 700;
}

.buynow:hover {
  border-radius: 50px;
  background-color: #2766cfe3;
  border: 1px solid #2766cfe3;
  color: #fff !important;
}

.upload_profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #dfdfdf;
}

.reshedule:hover {
  background-color: #f4433677 !important;
  color: #fff !important;
}

.header-noti-nav {
  padding-right: 20px !important;
}

.app-adv-section {
  padding: 160px 0px 0px;
}

.admin-main-wrapper{
display: flex;
}

@media only screen and (max-width: 768px) {
  .app-adv-section {
    padding: 0;
  }

  .app-image {
    position: relative;
    top: 0;
    width: 100%;
  }

  .header-five-title {
    margin-left: 0;
  }

  .app-section {
    height: 445px;
  }
}

a.active {
  color: #2766cf;
}

.header-Link a {
  margin-right: 40px;
  font-weight: 500;
}

.form-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.name {
flex:1 0 130px;
}
.email {
flex:1 0 130px;
}
.button-search {
flex:1 0 40px;
}
.owl-carousel .owl-item img{
  border-radius: 10px 10px 0 0 ;
}
.video-modal-close{
  z-index: 1;
  right: 0;
  color: #fff !important;
  padding: 8px !important;
  opacity: 1;
  font-size: 10px;
}
.btn-play{
  top: 0;
  margin: 115px;
}

.more{
  position: absolute;
}
.more{
  position: relative;
}